{% extends 'rest_framework/base.html' %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/">{{ title }}</a>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row">
    <div class="col-12">
        <div>
            Selecciona el fichero XLSX para validar.
        </div>
        <div class="data-validator-form">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="input-group rg-search">
                    <label for="lexicon_code">Código lexicon</label>
                    <select id="selected_lex" name="lexicon_code">
                        {% for src_language in src_languages %}
                            <optgroup label="{{ src_language.src_language }}"> 
                            {% for lex in lexicon_list %}
                                {% if lex.src_language == src_language.src_language %}
                                    <option value="{{ lex.code }}">{{ lex.code }}</option> 
                                {% endif %}
                            {% endfor %}
                        {% empty %}
                        <option selected value=''>Empty Value</option>
                        {% endfor %}
                    </select></br></br>
                </div>
                {% if variation_list %}
                    <div class="input-group rg-search">
                        <label for="variation_name">Nombre Variación</label>
                        <select id="selected_variation" name="variation_name">
                            {% for variation in variation_list %}
                                <option value="{{ variation.name }}">{{ variation.name }}</option> 
                            {% empty %}
                                <option selected value=''>Empty Value</option>
                            {% endfor %}
                        </select></br></br>
                    </div>
                {% endif %}
                <input id="validate" type="submit" value="validate" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Errors for <strong>{{ input_file }}</strong></h3>
        <p>Found {{ errors|length }} errors.</p>
        <table class="table table-hover table-striped">
            <caption>Errors found in the validated file</caption>
            <thead>
                <th>#</th>
                <th>word</th>
                <th>column</th>
                <th>error</th>
            </thead>
            <tbody>
                {% for e in errors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.word }}</td>
                    <td>{{ e.column }}</td>
                    <td>{{ e.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
