{% extends 'rest_framework/base.html' %}
{% load i18n static %}

{% block title %}Data validator{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/">Data Validator</a>
{% endblock %}

{% block content %}
<h1>Data validator</h1>
<div class="row">
    <div class="col-12">
        <div>
            Selecciona el fichero XLSX para validar.
        </div>
        <div class="data-validator-form">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="validate" type="submit" value="validate" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Errors for <strong>{{ input_file }}</strong></h3>
        <ol>
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
